{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-typescript"
  ],
  "plugins": [
    ["@babel/plugin-transform-destructuring", { "useBuiltIns": true }],
    "@babel/plugin-transform-classes"
  ]
}