@import 'variables';

form {
  display: flex;
  flex-direction: column;

  .form-row {
    display: flex;

    & > * {
      align-self: flex-start;
      margin-bottom: 1.2em;
    }

    label {
      padding-right: 2em;
      width: 18%;
    }
  }

  .form-row-grid {
    display: grid;
    grid-template-columns: repeat(24, 10px);
    grid-template-rows: 24px;
    align-items: baseline;
  }
}
