/* Labs Home layout */
@import 'normalize.css';
@import 'style.css';

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(
          #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
            ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
        );
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}
$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 24px;

html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

$mod_1: 1.2; // mobile
$mod_2: 1.5; // desktop

h1 {
  font-size: $mod_1 * $mod_1 * $mod_1 * $mod_1 * 1rem;
  @include fluid-type(
    $min_width,
    $max_width,
    $mod_1 * $mod_1 * $mod_1 * $min_font,
    $mod_2 * $mod_2 * $mod_2 * $min_font
  );
}
h2 {
  font-size: $mod_1 * $mod_1 * $mod_1 * 1rem;
  @include fluid-type(
    $min_width,
    $max_width,
    $mod_1 * $mod_1 * $mod_1 * $min_font,
    $mod_2 * $mod_2 * $mod_2 * $min_font
  );
}
h3 {
  font-size: $mod_1 * $mod_1 * 1rem;
  @include fluid-type(
    $min_width,
    $max_width,
    $mod_1 * $mod_1 * $min_font,
    $mod_2 * $mod_2 * $min_font
  );
}

.navbar-minimal {
  height: 50px;
  background: white;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar-minimal img {
  width: 40px;
  height: 40px;
}

.banner {
  background-image: linear-gradient(
      rgba(34, 73, 117, 0.5),
      rgba(34, 73, 117, 0.5)
    ),
    url(./images/berlin.jpg);
  background-size: cover;
  background-position: center;
  padding: calc(40px + 3vw / 2) 0px;
  color: white;
}

.container {
  width: calc(880px + 3vw / 2);
  margin: 0 auto;
}

.home-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.home-nav .card {
  flex: 0 0 40%;
}
.home-nav h3 {
  color: rgba(55, 182, 134, 1);
  margin-bottom: 15px;
}
.home-nav p {
  color: rgba(0, 0, 0, 0.5);
  // font-size: calc(6px + 3vw / 2);
}
.search-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.search-bar p {
  // font-size: calc(5px + 3vw / 2);
  font-weight: lighter;
  margin-right: 10px;
}
.search-bar h2 {
  // // font-size: calc(8px + 3vw / 2);
  font-weight: lighter;
  margin-right: 10px;
}

.posts h2 {
  // font-size: calc(8px + 3vw / 2);
  margin-right: 10px;
  font-weight: lighter;
}
.posts h3 {
  // font-size: calc(8px + 3vw / 2);
  color: rgba(55, 182, 134, 1);
  margin-right: 10px;
  font-weight: lighter;
}
.posts p {
  // font-size: calc(5px + 3vw / 2);
  font-weight: lighter;
}

.post {
  flex-grow: 1;

  & h2 {
    // font-size: calc(8px + 3vw / 2);
    margin-right: 10px;
    margin-bottom: 0px;
    text-align: left;
    font-weight: lighter;
  }
  & h2:first-child {
    display: inline;
  }
  & .author {
    display: inline;
  }
  & .timestamp {
    display: inline;
  }

  & h3 {
    // font-size: calc(8px + 3vw / 2);
    color: rgba(55, 182, 134, 1);
    margin-right: 10px;
    font-weight: lighter;
  }

  & p {
    // font-size: calc(5px + 3vw / 2);
    font-weight: lighter;
  }
}

.post-content {
  text-align: left;
}

.posts-content {
  display: flex;
  justify-content: space-between;
}

.posts-content form {
  flex: 0 0 190px;
}

.posts-content label,
input,
select,
textarea {
  width: 100%;
  color: rgba(0, 0, 0, 0.5);
  margin: 10px 0px 10px;
  height: calc(25px + 3vw / 2);
}

.posts-content textarea {
  padding: 10px;
  border-right: 1px solid;
  /* resize  : none; */
  overflow: auto;
  height: calc(100px + 3vw / 2);
}

.posts-content label + textarea {
  margin-top: 0px;
}

form button {
  display: block;
  // font-size: calc(8px + 3vw / 2);
  color: rgba(0, 0, 0, 0.75);
  margin: 10px 0px 10px;
  background: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border: 2px solid rgb(51, 51, 51);
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  text-align: center;
  height: calc(25px + 3vw / 2);
  width: calc(120px + 3vw / 2);

  &:after {
    content: '';
  }

  &:hover,
  &:focus {
    outline: none;
    background: rgba(55, 182, 134, 1);
    color: #fff;
  }
}

form input:focus,
textarea:focus {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.posts-content .posts-list {
  flex-grow: 1;
}

.posts-list {
  display: block;
}

.popular p {
  // font-size: calc(5px + 3vw / 2);
  font-weight: lighter;
}
.popular h2 {
  // font-size: calc(8px + 3vw / 2);
  font-weight: lighter;
}

.popular-labs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50% 50%;
  justify-content: space-around;
  background-color: rgba(253, 253, 253, 1);
  margin-bottom: 10px;
}
.popular-labs .card.top {
  grid-row: 1 / span 2;
  grid-column: 1 / span 1;
}

.popular-labs .card.next {
  grid-row: 1 / span 1;
  grid-column: 2 / span 2;
}

.popular-labs h3 {
  color: rgba(55, 182, 134, 1);
  margin-bottom: 15px;
  // font-size: calc(6px + 3vw / 2);
}
.popular-labs p {
  color: rgba(0, 0, 0, 0.5);
  // font-size: calc(4px + 3vw / 2);
}

.footer {
  padding: calc(10px + 3vw / 2) 0px;
  color: white;
  background-color: rgba(80, 159, 183, 1);
}

.footer p {
  color: rgba(255, 255, 255, 1);
  // font-size: calc(1px + 3vw / 2);
}

.card {
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  height: fit-content;

  & a {
    // font-size: calc(8px + 3vw / 2);
    color: rgba(0, 0, 0, 0.75);
    margin: 10px 0px 10px;
    background: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border: 2px solid rgb(51, 51, 51);
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    height: calc(25px + 3vw / 2);
    width: calc(120px + 3vw / 2);
  }

  & a:after {
    content: '';
  }

  & a:hover,
  a:focus {
    outline: none;
    background: rgba(55, 182, 134, 1);
    color: #fff;
  }

  & h3:first-child {
    margin: 0px;
  }

  & .author {
    font-style: italic;
    font-size: smaller;
  }

  & .timestamp {
    font-style: italic;
    font-size: smaller;
  }

  & .reaction {
    display: flex;
    justify-content: center;
  }
  & .reaction-button {
    flex: 0 1 35px;
    color: rgba(0, 0, 0, 0.75);
    margin: 10px;
    margin-top: 15px;
    padding: 2px;
    background: white;
    border: 0px;
    cursor: pointer;
    text-align: center;
    height: auto;
  }
}

@media (max-width: 992px) {
  .container {
    width: calc(700px + 3vw / 2);
  }
}

@media (max-width: 768px) {
  .container {
    width: calc(460px + 3vw / 2);
  }
}

@media (max-width: 480px) {
  .container {
    width: calc(300px + 3vw / 2);
  }
}

@media (max-width: 768px) {
  .posts-content {
    display: block;
  }
  .posts-list {
    display: block;
  }
  .posts-list .card {
    flex: unset;
  }
}

@media (max-width: 768px) {
  .home-nav {
    display: block;
  }
  .home-nav .card {
    flex: unset;
  }
}

@media (max-width: 480px) {
  .home-nav .card {
    flex: unset;
  }
}

@media (max-width: 480px) {
  .popular-labs {
    grid-template-columns: unset;
    grid-template-rows: unset;
  }
  .popular-labs .card.top {
    grid-row: unset;
    grid-column: unset;
  }
  .popular-labs .card.next {
    grid-row: unset;
    grid-column: unset;
  }
}
